<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhqz.scheduler.dao.BidRepayRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yhqz.scheduler.model.BidRepayRecord" >
    <id column="F01" property="f01" jdbcType="INTEGER" />
    <result column="F02" property="f02" jdbcType="INTEGER" />
    <result column="F03" property="f03" jdbcType="INTEGER" />
    <result column="F04" property="f04" jdbcType="INTEGER" />
    <result column="F05" property="f05" jdbcType="INTEGER" />
    <result column="F06" property="f06" jdbcType="INTEGER" />
    <result column="F07" property="f07" jdbcType="DECIMAL" />
    <result column="F08" property="f08" jdbcType="DATE" />
    <result column="F09" property="f09" jdbcType="CHAR" />
    <result column="F10" property="f10" jdbcType="TIMESTAMP" />
    <result column="F11" property="f11" jdbcType="INTEGER" />
    <result column="F12" property="f12" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    F01, F02, F03, F04, F05, F06, F07, F08, F09, F10, F11, F12
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t6252
    where F01 = #{f01,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t6252
    where F01 = #{f01,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yhqz.scheduler.model.BidRepayRecord" >
    insert into t6252 (F01, F02, F03, 
      F04, F05, F06, F07, 
      F08, F09, F10, F11, 
      F12)
    values (#{f01,jdbcType=INTEGER}, #{f02,jdbcType=INTEGER}, #{f03,jdbcType=INTEGER}, 
      #{f04,jdbcType=INTEGER}, #{f05,jdbcType=INTEGER}, #{f06,jdbcType=INTEGER}, #{f07,jdbcType=DECIMAL}, 
      #{f08,jdbcType=DATE}, #{f09,jdbcType=CHAR}, #{f10,jdbcType=TIMESTAMP}, #{f11,jdbcType=INTEGER}, 
      #{f12,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yhqz.scheduler.model.BidRepayRecord" >
    insert into t6252
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="f01 != null" >
        F01,
      </if>
      <if test="f02 != null" >
        F02,
      </if>
      <if test="f03 != null" >
        F03,
      </if>
      <if test="f04 != null" >
        F04,
      </if>
      <if test="f05 != null" >
        F05,
      </if>
      <if test="f06 != null" >
        F06,
      </if>
      <if test="f07 != null" >
        F07,
      </if>
      <if test="f08 != null" >
        F08,
      </if>
      <if test="f09 != null" >
        F09,
      </if>
      <if test="f10 != null" >
        F10,
      </if>
      <if test="f11 != null" >
        F11,
      </if>
      <if test="f12 != null" >
        F12,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="f01 != null" >
        #{f01,jdbcType=INTEGER},
      </if>
      <if test="f02 != null" >
        #{f02,jdbcType=INTEGER},
      </if>
      <if test="f03 != null" >
        #{f03,jdbcType=INTEGER},
      </if>
      <if test="f04 != null" >
        #{f04,jdbcType=INTEGER},
      </if>
      <if test="f05 != null" >
        #{f05,jdbcType=INTEGER},
      </if>
      <if test="f06 != null" >
        #{f06,jdbcType=INTEGER},
      </if>
      <if test="f07 != null" >
        #{f07,jdbcType=DECIMAL},
      </if>
      <if test="f08 != null" >
        #{f08,jdbcType=DATE},
      </if>
      <if test="f09 != null" >
        #{f09,jdbcType=CHAR},
      </if>
      <if test="f10 != null" >
        #{f10,jdbcType=TIMESTAMP},
      </if>
      <if test="f11 != null" >
        #{f11,jdbcType=INTEGER},
      </if>
      <if test="f12 != null" >
        #{f12,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhqz.scheduler.model.BidRepayRecord" >
    update t6252
    <set >
      <if test="f02 != null" >
        F02 = #{f02,jdbcType=INTEGER},
      </if>
      <if test="f03 != null" >
        F03 = #{f03,jdbcType=INTEGER},
      </if>
      <if test="f04 != null" >
        F04 = #{f04,jdbcType=INTEGER},
      </if>
      <if test="f05 != null" >
        F05 = #{f05,jdbcType=INTEGER},
      </if>
      <if test="f06 != null" >
        F06 = #{f06,jdbcType=INTEGER},
      </if>
      <if test="f07 != null" >
        F07 = #{f07,jdbcType=DECIMAL},
      </if>
      <if test="f08 != null" >
        F08 = #{f08,jdbcType=DATE},
      </if>
      <if test="f09 != null" >
        F09 = #{f09,jdbcType=CHAR},
      </if>
      <if test="f10 != null" >
        F10 = #{f10,jdbcType=TIMESTAMP},
      </if>
      <if test="f11 != null" >
        F11 = #{f11,jdbcType=INTEGER},
      </if>
      <if test="f12 != null" >
        F12 = #{f12,jdbcType=VARCHAR},
      </if>
    </set>
    where F01 = #{f01,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhqz.scheduler.model.BidRepayRecord" >
    update t6252
    set F02 = #{f02,jdbcType=INTEGER},
      F03 = #{f03,jdbcType=INTEGER},
      F04 = #{f04,jdbcType=INTEGER},
      F05 = #{f05,jdbcType=INTEGER},
      F06 = #{f06,jdbcType=INTEGER},
      F07 = #{f07,jdbcType=DECIMAL},
      F08 = #{f08,jdbcType=DATE},
      F09 = #{f09,jdbcType=CHAR},
      F10 = #{f10,jdbcType=TIMESTAMP},
      F11 = #{f11,jdbcType=INTEGER},
      F12 = #{f12,jdbcType=VARCHAR}
    where F01 = #{f01,jdbcType=INTEGER}
  </update>
</mapper>